<h1>Equipo Desarrollador</h1>
<hr>

<div class="container ">
    <div class="row">
        <div class="col-md-4 animated fadeIn fast">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/cavarcas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sebastián Ospina Cabarcas</h5>
                    <hr>
                    <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                    <p class="card-text">Universidad Eafit</p>
                    <hr>
                    <p class="card-text">sospin26@eafit.edu.co</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 animated fadeIn fast">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/sanchez.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Julián Sánchez Alzate</h5>
                    <hr>
                    <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                    <p class="card-text">Universidad Eafit</p>
                    <hr>
                    <p class="card-text">jsanch89@eafit.edu.co</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 animated fadeIn fast">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/suaza.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Camilo Suaza Gallego</h5>
                    <hr>
                    <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                    <p class="card-text">Universidad Eafit</p>
                    <hr>
                    <p class="card-text">csuazag@eafit.edu.co</p>
                </div>
            </div>
        </div>
    </div>


</div>