<h1 class="animated fadeIn fast">Machine Learning en Smart Cities </h1>
<hr>
<div id="carouselExampleInterval" class="carousel slide animated fadeIn fast" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
            <img src="../../../assets/img/transport.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="../../../assets/img/newyork.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row align-items-center rowStyle" style="background-color: #f1f1f1; ">
    <div class="col-6 pt-5 pb-5 pl-5">
        <h1 class="text-center">PROBLEMA</h1>
        <hr>
    </div>
    <div class="col-6 pt-5 pb-5 pr-5">
        <p class="text-justify">Muchas veces por el poco análisis al que se someten algunos datos puede provocar que
            algunas alertas sobre una futura tragedia u optimizaciones en algunos sistemas sean
            ignorados. A su vez la velocidad con la que se generan los datos cada vez es mayor
            gracias a la implementación de sensores, videocámaras e incluso el información de los
            diversos ciudadanos a través de las redes sociales.
        </p>
        <p class="text-justify">
            En los sistemas de transporte se ve un enorme potencial a la hora de implementar
            diversos métodos de análisis de datos, en este campo se puede desarrollar el
            tratamiento de datos para predecir eventos o reconocer patrones u optimizar
            servicios que mejor resuelvan los problemas que puedan presentarse en términos de
            movilidad, además, ayudar en la toma de decisiones organizacionales.
        </p>
        <p class="text-justify">
            El principal problema que se encuentra actualmente es que existen bases de datos de
            ciudades y organizaciones que tienen mucha información no analizada acerca del sector
            de la movilidad.
        </p>
    </div>
</div>


<div class="row align-items-center rowStyle">
    <div class="col-6 pt-5 pb-5 pl-5">
        <p class="text-justify">Desarrollamos un middleware que ayudará en la toma de decisiones organizacionales por
            entidades de movilidad en <strong>Smart Cities</strong>, el proyecto usó técnicas de
            Machine Learning para encontrar <strong>patrones y prediciones</strong> dada una fuente de datos capturada
            por sistemas de monitoreo con sensores en la ciudad de New York.
        </p>
        <p class="text-justify">
            Las organizaciones de movilidad en Smart Cities recolectarán la información dada unas rúbricas que
            definiremos y con esto podrán hacer uso de nuestra aplicación para entrenar su data con nuestros modelos de
            Machine Learning y visualizar así los servicios que pueden usar, con este uso de la data las organizaciones
            tendrán la capacidad de resolver preguntas que surgan con el objetivo de mejorar la movilidad.
        </p>
    </div>
    <div class="col-6 pt-5 pb-5 pl-5">
        <h1 class="text-center">SOLUCIÓN</h1>
        <hr>
    </div>
</div>