<h1 class="animated fadeIn fast text-center">Machine Learning en Smart Cities </h1>
<hr>
<div id="carouselExampleInterval" class="carousel slide animated fadeIn fast" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
            <img src="../../../assets/img/transport.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="../../../assets/img/newyork.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row align-items-center animated fadeIn fast row-style" style="background-color: #f1f1f1; ">
    <div class="col-6 pt-5 pb-5 pr-5">
        <h1 class="text-center">OPORTUNIDAD</h1>
        <hr>
    </div>
    <div class="col-6 pt-5 pb-5 pr-5">
        <p class="text-justify">El poco análisis al que se someten algunos sobre movilidad datos puede provocar que
            algunas alertas sobre algún <strong>evento</strong> u <strong>optimizaciones</strong> en estos sistemas
            sean
            ignorados. Por estos días la velocidad con la que se generan los datos cada vez es mayor
            gracias a la implementación de sensores, videocámaras e incluso el información de los
            ciudadanos a través de las redes sociales.
        </p>
        <p class="text-justify">
            En los sistemas de transporte se ve un enorme potencial a la hora de implementar
            diversos métodos de <strong>análisis de datos</strong>, en este campo se puede desarrollar el
            tratamiento de datos para <strong>predecir eventos, reconocer patrones u optimizar
                servicios</strong> que mejor resuelvan los problemas que puedan presentarse en términos de
            movilidad, además, ayudar en la toma de decisiones organizacionales.
        </p>
        <p class="text-justify">
            El principal problema que se encuentra actualmente es que existen bases de datos robustas de
            ciudades que no ha sido analizada y en las que se podría sacar gran provecho.
        </p>
    </div>


</div>


<div class="row align-items-center row-style animated fadeIn fast">
    <div class="col-6 pt-5 pb-5 pl-5">
        <p class="text-justify">Desarrollamos un middleware que ayudará en la toma de decisiones organizacionales
            por
            entidades de movilidad en <strong>Smart Cities</strong>, el proyecto usó técnicas de
            Machine Learning para encontrar <strong>patrones y prediciones</strong> dada una fuente de datos
            capturada
            por sistemas de monitoreo con sensores en la ciudad de New York.
        </p>
        <p class="text-justify">
            Las organizaciones de movilidad en Smart Cities recolectarán la información dada unas rúbricas que
            definiremos y con esto podrán hacer uso de nuestra aplicación para entrenar su data con nuestros modelos
            de
            Machine Learning y visualizar así los servicios que pueden usar, con este uso de la data las
            organizaciones
            tendrán la capacidad de resolver preguntas que surgan con el objetivo de mejorar la movilidad.
        </p>
    </div>
    <div class="col-6 pt-5 pb-5 pl-5">
        <h1 class="text-center">PRUEBA DE CONCEPTO</h1>
        <hr>
    </div>
</div>


<div class="row align-items-center animated fadeIn fast style-row" style="background-color: #f1f1f1; ">

    <div class="col-6 pt-5 pb-5 pl-5">
        <h1 class="text-center">SISTEMA AUTÓNOMO</h1>
        <hr>
        <br>
        <p class="text-justify">Las <strong>Smart Cities</strong> cada día cambian en su comportamiento es por eso
            que
            contemplamos dada una toma de decisiones que puedan tomar con nuestra aplicación,
            las ciudades puedan retroalimentar la analítica con data resultante del proceso de decisión, con esto
            seguir un proceso cíclico, es decir, nuestra aplicación permitirá el re-entrenamiento los datasets para así
            poder tomar
            deciciones en tiempo real.</p>
    </div>

    <div class="col-6 pt-5 pb-5 pr-5">
        <img src="../../../assets/img/sistema-autonomo.png" class="card-img-top" alt="...">
    </div>
</div>


<div class="row align-items-center row-style animated fadeIn fast">
    <div class="col-6 pt-5 pb-5 pl-5 text-center">
        <h2 class="text-center">¿CÓMO FUNCIONA?</h2>
        <hr>
        <br>
        <a [routerLink]="['newyork']" class="btn btn-outline-success">New York Demo</a>

    </div>
    <div class="col-6 pt-5 pb-5 pl-5 text-center">
        <h2 class="text-center">USA NUESTRA APP</h2>
        <hr>
        <br>
        <a [routerLink]="['signup']" class="btn btn-outline-success ">Regístrate</a>

    </div>
</div>